body {
  background-image: url("thumb-1920-749807.png");
  background-repeat: no-repeat;
}

form {
  height: auto;
  width: 45vw;
  font-size: 2vw;
}

#ha {
  border: black solid 3px;
  border-bottom: none;
}

#hb {
  border: black solid 3px;
  border-top: none;
}
