body {
    background-image: url('backg.png');
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 100vh;
    grid-template-areas: "f1 all f2";
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 65vw 25vw;
    grid-template-rows: 50vh 50vh;
    grid-area: all;
    margin: 0;
    width: 90vw;
    height: 100vh;
    background-color: rgba(111, 0, 0, 0.5);
    justify-content: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2.9vw;
    size: 2.9vw;
}

a {
    text-decoration: none;
}

#f1 {
    rotate: -90deg;
    text-align: center;
}

#f1:hover {
    cursor: default;
}


#f2 {
    rotate: 90deg;
    text-align: center;

}



#f2 a {
    color: white;
    transition: 0.3s;
}

#f2 a:hover {
    text-shadow: 0vw 0vw 2vw rgb(255, 0, 0);
}





img {
    height: 25vh;
}

article {
    text-align: center;
    font-size: 2vw;
    background-color: rgb(98, 98, 98);
    color: white;
    background-image: url('backg2.png');
}

article a {
    text-align: center;
    color: white;
}

#arts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    height: 100vh;
    width: 65vw;
}

.arthor,
.arthor2 {
    flex-direction: column;
    gap: 5vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: white 4px solid;
    width: 62vw;
    margin: auto;
    height: 45vh;
    transition: 0.2s;
}


.artver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 23vw;
    height: 95vh;
    margin-top: 20px;
    border: white 4px solid;
    transition: 0.2s;
    margin-right: 0;
}

.artver img {
    width: auto;
    height: 75vh;
}

article:hover {
    box-shadow: 0vw 0.2vw 2vw white;
}

.arthor2 a,
.arthor a {
    background-color: rgb(62, 0, 0);
    border-radius: 5%;
    transition: 0.2s;
    margin-bottom: auto;
    width: 21vw;
}

article a:hover {
    background-color: rgb(125, 0, 0);
}

.artver a {
    background-color: rgb(62, 0, 0);
    border-radius: 5%;
    transition: 0.2s;
    margin-bottom: 20px;
    width: 21vw;
}

header:hover {
    cursor: default;
}

footer:hover {
    cursor: pointer;
}